<% provide(:title, 'All Users') %>
<h1 id="top">All Users</h1>
<%= link_to 'Import Users', new_enrollment_path, class: 'button' %>
<%= link_to 'Add User Manually', build_users_path, class: 'button' %>
<p><a href="#admins">Admins</a> / <a href="#reps">Housing Committee</a> / <a href="#students">Students</a></p>
<h2 id="admins">Admins</h2>
<% if @users.has_key? 'admin' %>
  <%= render 'table', users: @users['admin'], hide_actions: false %>
<% else %>
  <p>No admins!</p>
<% end %>

<h2 id="reps">Housing Committee (<%= @users['rep'].size %> total)</h2>
<p><a href="#top">Back to top</a></p>
<% if @users.has_key? 'rep' %>
  <%= render 'table', users: @users['rep'], hide_actions: false %>
<% else %>
  <p>No housing committee members!</p>
<% end %>

<h2 id="students">Students (<%= @users['student'].empty? ? 0 : @users['student'].values.map(&:size).reduce(:+) %> total)</h2>
<p><a href="#top">Back to top</a></p>
<% if @users.has_key? 'student' %>
  <ul class="tabs" data-tabs id="student-year-tabs">
    <% @users['student'].keys.sort.each do |year| %>
      <li class="tabs-title<%= @users['student'].keys.sort.first == year ? ' is-active' : '' %>">
        <a href="#students-<%= year %>"<%= @users['student'].keys.sort.first == year ? ' aria-selected=true' : '' %>><%= year %></a>
      </li>
    <% end %>
  </ul>
  <div class="tabs-content" data-tabs-content="student-year-tabs">
    <% @users['student'].keys.sort.each do |year| %>
      <div class="tabs-panel<%= @users['student'].keys.sort.first == year ? ' is-active' : '' %>" id="students-<%= year %>">
        <h3>Class of <%= year %> (<%= @users['student'][year].size %> total)</h3>
        <%= render 'table', users: @users['student'][year], hide_actions: false %>
      </div>
    <% end %>
  </div>
<% else %>
  <p>No regular students!</p>
<% end %>
